<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}RentalSmz{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
</head>
<body>
  <header class="topbar">
    <div class="container topbar__inner">
      <a class="brand" href="/">RentalSmz</a>

      <nav class="nav">
        <a href="/catalog">Каталог</a>

        {% if user %}
          {% if user.kind == "client" %}
            <a href="/dashboard">ЛК</a>
            <a href="/my/contracts">Мои договоры</a>
            <a href="/demo/concurrency">Демо блокировок</a>

          {% else %}
            <a href="/dashboard">Кабинет</a>
            <a href="/employee/contracts">Договоры</a>
            <a href="/employee/contracts/new">Новый договор</a>

            {% if user.employee and (user.employee.role in ["admin","manager"]) %}
              <a href="/admin/reports">Отчёты</a>
            {% endif %}

            {% if user.employee and user.employee.role == "admin" %}
              <a href="/admin/catalog">Админ: Каталог</a>
              <a href="/admin/inventory">Админ: Инвентарь</a>
            {% endif %}
          {% endif %}

          <a href="#" id="logoutLink">Выйти</a>
        {% else %}
          <a href="/login">Вход</a>
          <a href="/register">Регистрация</a>
        {% endif %}

        <a href="/docs" class="muted">Swagger</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', path='js/app.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
