<!-- app/templates/base.html -->
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}RentalSmz{% endblock %}</title>

  <!-- никаких абсолютных путей типа /Users/... -->
  <link rel="stylesheet" href="{{ request.url_for('static', path='css/app.css') }}">
  <script defer src="{{ request.url_for('static', path='js/app.js') }}"></script>
</head>
<body>
  <header class="topbar">
    <div class="container topbar__inner">
      <a class="brand" href="/">RentalSmz</a>

      <nav class="nav">
        <a href="/">Главная</a>
        <a href="/catalog">Каталог</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/docs" target="_blank">Swagger</a>

        {% if user %}
          <a href="/logout">Выйти</a>
        {% else %}
          <a href="/login">Войти</a>
          <a href="/register">Регистрация</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% block scripts %}{% endblock %}
</body>
</html>
