{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="card">
  <h1>Регистрация клиента</h1>
  <meta charset="utf-8" />
  <div class="grid2">
    <div>
      <label>Имя</label>
      <input id="regFirstName" type="text" placeholder="Dmitry" />
    </div>
    <div>
      <label>Фамилия</label>
      <input id="regLastName" type="text" placeholder="Smaznov" />
    </div>
  </div>

  <label>Email</label>
  <input id="regEmail" type="email" placeholder="you@mail.com" />

  <label>Телефон</label>
  <input id="regPhone" type="text" placeholder="+7985..." />

  <label>Пароль</label>
  <input id="regPassword" type="password" placeholder="••••••••" />

  <label class="check">
    <input id="regRemember" type="checkbox" />
    remember me
  </label>

  <div class="actions">
    <button class="btn btn--primary" id="registerBtn">Создать аккаунт</button>
    <a class="btn btn--ghost" href="/login">Уже есть аккаунт</a>
  </div>

  <div id="registerMsg" class="msg"></div>
</div>
{% endblock %}
